{{!-- Social Media Links --}}
<div class="social-media">
  {{!-- Twitter --}}
  <a class="social-link twitter"
     href="{{twitter_url}}" target="_blank" title="Twitter"  aria-label="Twitter">
    {{>icon data-name="twitter"}}
    <p>Twitter</p>
  </a>
  {{!-- Linkedin --}}
  <a class="social-link linkedin"
     href="https://linkedin.com/in/patrick-boerman-47b234143" target="_blank" title="Linkedin" aria-label="Linkedin">
    {{>icon data-name="linkedin"}}
    <p>Linkedin</p>
  </a>
  {{!-- Github --}}
  <a class="social-link github"
     href="https://github.com/squadramunter" target="_blank" title="Github" aria-label="Github">
    {{>icon data-name="github"}}
    <p>Github</p>
  </a>
  {{!-- RSS --}}
  <a class="social-link rss"
     href="/rss" target="_blank" title="RSS" aria-label="RSS">
    {{>icon data-name="rss"}}
    <p>RSS</p>
  </a>
</div>
